
header{
  width: 980px;
  height: 20px;
  background-color: gray;

  padding: 20px;
}

.slider{
  width: 980px;
  height: 250px;
  background-color: orange;

  padding: 20px;
}

.pOne{
  width:490px ;
  height: 250px;
  /* background-color: darkcyan; */

  float: left;
  padding: 10px;
}

.pTwo{
  width:490px ;
  height: 250px;
  /* background-color: gray; */

  float: left;
  padding: 10px;
}

.bOne{
  width: 326px;
  height: 250px;
  background-color: cyan;

  float: left;

  padding: 6.5px;
}
.bTwo{
  width: 326px;
  height: 250px;
  background-color: gray;

  float: left;

  margin: 0px 5px 5px 5px;

  padding: 6.5px;
}
.bThree{
  width: 326px;
  height: 250px;
  background-color: darkcyan;

  float: left;

  padding: 6.5px;
}

footer{
  width: 980px;
  height: 150px;
  background-color: orange;

  padding: 20px;
}

